.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
  background: #8231d3 !important;
}
.table thead th {
  vertical-align: top;
}
.table thead tr, .table tbody tr{
  padding: 10px 0px;
}

@media (min-width: 992px){
.aside-minimize .aside-menu .menu-nav > .menu-item > .menu-link {
  padding: 18px 10px;
}
}